@import "tailwindcss";


@font-face {
  font-family: "SFPro";
  src: url("./fonts/SF-Pro-Display-Regular.ttf");
}

body {
  color-scheme: dark;
  all : unset;
  font-family: 'SFPro';
  margin: 0;
  padding: 0;
  min-width: 100vw;
background-color: white !important;
  max-height: 100vh;
  /* overflow-x: hidden; */

}

* {
  margin: 0;
  padding: 0;
}


/* The slider handle (the circle) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px;
  border-radius: 100px;
   /* Slider handle height */
  background: #4123c9; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.innerShadow {
  
} 

#root {
  max-width: 100%;
  max-height: 100vh;
  margin: 0px;
  padding: 0px;
}